.progressDiv {
    position: relative;
    top: 5%;
}

.progressRow {
    line-height: 50%;
}

.bold {
    font-weight: bold;
    letter-spacing: 1px;
}

.buttonClass {
    background-color: rgb(161, 213, 255);
    color: white;
    padding: 10px;
    margin: 10px;
}

.titleButtonDiv {
    display: flex;
    justify-content: space-between;
}

.titleDiv {
    position: relative;
    width: 185px;
    display: flex;
}

.title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fixedWidth {
    display: inline-block;
    width: 70px; 
    text-align: right;
}

.progressBarContainer {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    margin: 20px 0;
    border-radius: 4px;
}
  
.progressBar {
    height: 20px;
    width: 0;
    background-color: #4CAF50;
    border-radius: 2px;
    transition: width 0.4s ease-in-out;
}

.trainingLines {
    max-height: 130px;
    overflow: auto;
    padding-top: 10px;
}

@media only screen and (max-height: 860px) {
    .trainingLines {
        max-height: 70px;
    }
}
  