/* ImageWithConditionalFadeIn.module.css */
.imageInitial {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Adjusted for a quicker transition */
}

.imageLoaded {
opacity: 1;
}


.titleImg {
    height: 400px;
}

.arrowImg {
    height: 350px;
    margin-right: -50px;
}


@media only screen and (max-width: 1700px) {

    .titleImg {
        height: 370px;
    }

    .arrowImg {
        height: 350px;
        margin-right: -70px;
    }
}

@media only screen and (max-width: 1500px) {
    .titleImg {
        height: 330px;
    }

    .arrowImg {
        height: 300px;
    }
}