/* Styles for the image initially */
.imageInitial {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  /* Styles for the image once it's loaded */
  .imageLoaded {
    opacity: 1;
  }
  
  /* Optional: Styles for when no transition is needed */
  .imageNoTransition {
    transition: none;
  }


.titleImg {
    height: 400px;
}

.arrowImg {
    height: 350px;
    margin-right: -50px;
}

.imageFadeIn {
    opacity: 0,
    opacity 1s ease-in-out;
}


@media only screen and (max-width: 1700px) {

    .titleImg {
        height: 370px;
    }

    .arrowImg {
        height: 350px;
        margin-right: -70px;
    }
}

@media only screen and (max-width: 1500px) {
    .titleImg {
        height: 330px;
    }

    .arrowImg {
        height: 300px;
    }
}